<?xml version="1.0" ?>

<launch>

  <!-- Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find rover_san)/World/E.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="false"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Load Model / Rviz -->
  <param command="$(find xacro)/xacro $(find rover_san)/urdf/4WD.xacro" name="robot_description"/>
  <node args="-param robot_description -urdf -model 4WD" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rover_san.rviz" />

  <!-- Point Cloud -->
  <include file="$(find rover_san)/launch/rs_rgbd.launch"/>

  <!-- Lidar -->
  <include file="$(find rover_san)/launch/rplidar_s1.launch" />

  <!-- Map server
  <arg name="map_file" default="$(find rover_san)/world/E.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(find rover_san)/world/E.yaml"/>-->

  <!-- AMCL
  <include file="$(find rover_san)/launch/amcl.launch"/>-->

  <!-- move_base 
  <include file="$(find rover_san)/launch/move_base.launch">
    <arg name="move_forward_only" value="false"/>
  </include>--> 
  
</launch>
